@{
    ViewData["Title"] = "Organizacja";
}

<header>
    <h1>Organizacja pracy stanowiska fizycznego i wirtualnego</h1>
</header>
<br />
<br />
<body>
    <form>
        <div class="organizacja">
            <label>Odpowiedzialny za obszar:</label>
            <input type="text" placeholder="Imię">
            <input type="text" placeholder="Nazwisko">
        </div>

        <div class="organizacja">
            <label>Sprawdzający:</label>
            <input type="text" placeholder="Imię">
            <input type="text" placeholder="Nazwisko">
        </div>

        <div class="organizacja">
            <label>Poprzedni wynik:</label>
            <input type="number">
        </div>

        <div class="organizacja">
            <label>Obszar/Stanowisko:</label>
            <input type="text">
        </div>

        <div class="organizacja">
            <label>Data kontroli:</label>
            <input type="date">
        </div>

        <div class="organizacja">
            <label>Wynik całkowity/końcowy:</label>
            <input type="number">
        </div>
    </form>

    <div class="btnZaczynamy">
        <button id="btnZaczynamy" type="button">Zaczynamy</button>
    </div>


</body>
